In [1]:
%matplotlib inline
%reload_ext autoreload
%autoreload 2

In [2]:
import pandas as pd
import numpy as np

In [3]:
import sys 
sys.path.append('../pandaslab/functions')
sys.path.append('../pandaslab/processing')

In [4]:
mimic = pd.read_csv('../data/mimic/mimic.csv')
mimic = mimic.set_index(['SUBJECT_ID', 'HADM_ID'])

In [ ]:
mimic.head()

In [ ]:
from utilities import types
types = types(mimic)

In [65]:
from sklearn.model_selection import train_test_split

data = mimic.dropna(axis=0)
X = data.drop('DIED', axis=1)
y = data['DIED']
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.8, test_size=0.2)

### Normalization

In [66]:
pd.set_option('chained_assignment',None)

In [68]:
from normalization import standard
normalized_X = standard(X, type='Numerical')

In [69]:
normalized_X.head()

,,INSURANCE,LANGUAGE,RELIGION,MARITAL_STATUS,ETHNICITY,GENDER,AGE,LOS,HR_MIN_DAY1,HR_MAX_DAY1,...,V81,V83,V84,V85,V86,V87,V88,V90,V91,ICU
SUBJECT_ID,HADM_ID,,,,,,,,,,,,,,,,,,,,,
357,174486,Private,ENGL,NOT SPECIFIED,MARRIED,WHITE,M,62,2.498235,-0.915510,-1.698557,...,0,0,0,0,0,0,0,0,0,MICU
359,144265,Self Pay,VIET,BUDDHIST,MARRIED,UNKNOWN/NOT SPECIFIED,M,48,-0.266886,-0.121508,-0.796335,...,0,0,0,0,0,0,0,0,0,CSRU
43,146828,Private,ENGL,NOT SPECIFIED,MARRIED,WHITE,M,32,-0.064291,0.407826,0.105887,...,0,0,0,0,0,0,0,0,0,TSICU
44,181750,Medicare,ENGL,CATHOLIC,MARRIED,UNKNOWN/NOT SPECIFIED,M,80,-0.141784,-0.187675,-0.996829,...,0,0,0,0,0,0,0,0,0,CSRU
64,172056,Medicaid,ENGL,OTHER,SINGLE,BLACK/AFRICAN AMERICAN,F,26,-0.439319,1.069493,0.506874,...,0,0,0,0,0,0,0,0,0,MICU

### Encoding

#### Categorical variables

In [75]:
from encoding import likelihood
encoded_X = likelihood(normalized_X, type='Categorical')

In [76]:
encoded_X.head()

,,INSURANCE,LANGUAGE,RELIGION,MARITAL_STATUS,ETHNICITY,GENDER,AGE,LOS,HR_MIN_DAY1,HR_MAX_DAY1,...,V81,V83,V84,V85,V86,V87,V88,V90,V91,ICU
SUBJECT_ID,HADM_ID,,,,,,,,,,,,,,,,,,,,,
357,174486,0.407731,0.0127918,0.280084,-0.102153,-0.194977,M,0.151475,2.498235,-0.915510,-1.698557,...,0,0,0,0,0,0,0,0,0,0.0987916
359,144265,1.61478,0.32811,0.252475,-0.102153,-0.310876,M,0.995046,-0.266886,-0.121508,-0.796335,...,0,0,0,0,0,0,0,0,0,-1.60638
43,146828,0.407731,0.0127918,0.280084,-0.102153,-0.194977,M,1.776322,-0.064291,0.407826,0.105887,...,0,0,0,0,0,0,0,0,0,0.690141
44,181750,-0.568439,0.0127918,-0.200086,-0.102153,-0.310876,M,-1.258486,-0.141784,-0.187675,-0.996829,...,0,0,0,0,0,0,0,0,0,-1.60638
64,172056,1.06344,0.0127918,0.420411,0.578097,1.28836,F,0.764633,-0.439319,1.069493,0.506874,...,0,0,0,0,0,0,0,0,0,0.0987916

#### Binary variables

In [77]:
from encoding import label
encoded_X = label(encoded_X, type='Binary')

In [78]:
encoded_X.head()

,,INSURANCE,LANGUAGE,RELIGION,MARITAL_STATUS,ETHNICITY,GENDER,AGE,LOS,HR_MIN_DAY1,HR_MAX_DAY1,...,V81,V83,V84,V85,V86,V87,V88,V90,V91,ICU
SUBJECT_ID,HADM_ID,,,,,,,,,,,,,,,,,,,,,
357,174486,0.407731,0.0127918,0.280084,-0.102153,-0.194977,0,0.151475,2.498235,-0.915510,-1.698557,...,0,0,0,0,0,0,0,0,0,0.0987916
359,144265,1.61478,0.32811,0.252475,-0.102153,-0.310876,0,0.995046,-0.266886,-0.121508,-0.796335,...,0,0,0,0,0,0,0,0,0,-1.60638
43,146828,0.407731,0.0127918,0.280084,-0.102153,-0.194977,0,1.776322,-0.064291,0.407826,0.105887,...,0,0,0,0,0,0,0,0,0,0.690141
44,181750,-0.568439,0.0127918,-0.200086,-0.102153,-0.310876,0,-1.258486,-0.141784,-0.187675,-0.996829,...,0,0,0,0,0,0,0,0,0,-1.60638
64,172056,1.06344,0.0127918,0.420411,0.578097,1.28836,1,0.764633,-0.439319,1.069493,0.506874,...,0,0,0,0,0,0,0,0,0,0.0987916

### Label Encoding

In [79]:
from encoding import label
encoded_X2 = label(normalized_X, type='Binary_Categorical')

In [80]:
encoded_X2.head()

,,INSURANCE,LANGUAGE,RELIGION,MARITAL_STATUS,ETHNICITY,GENDER,AGE,LOS,HR_MIN_DAY1,HR_MAX_DAY1,...,V81,V83,V84,V85,V86,V87,V88,V90,V91,ICU
SUBJECT_ID,HADM_ID,,,,,,,,,,,,,,,,,,,,,
357,174486,0,0,0,0,0,0,62,2.498235,-0.915510,-1.698557,...,0,0,0,0,0,0,0,0,0,0
359,144265,1,1,1,0,1,0,48,-0.266886,-0.121508,-0.796335,...,0,0,0,0,0,0,0,0,0,1
43,146828,0,0,0,0,0,0,32,-0.064291,0.407826,0.105887,...,0,0,0,0,0,0,0,0,0,2
44,181750,2,0,2,0,1,0,80,-0.141784,-0.187675,-0.996829,...,0,0,0,0,0,0,0,0,0,1
64,172056,3,0,3,1,2,1,26,-0.439319,1.069493,0.506874,...,0,0,0,0,0,0,0,0,0,0

In [81]:
from encoding import one_hot
encoded_X3 = one_hot(normalized_X, type='Categorical')
encoded_X3 = label(encoded_X3, type='Binary')

In [82]:
encoded_X3.head()

,,GENDER,LOS,HR_MIN_DAY1,HR_MAX_DAY1,HR_MEAN_DAY1,SYS_BP_MIN_DAY1,SYS_BP_MAX_DAY1,SYS_BP_MEAN_DAY1,DIAS_BP_MIN_DAY1,DIAS_BP_MAX_DAY1,...,AGE_84,AGE_85,AGE_86,AGE_87,AGE_88,ICU_0,ICU_1,ICU_2,ICU_3,ICU_4
SUBJECT_ID,HADM_ID,,,,,,,,,,,,,,,,,,,,,
357,174486,0,2.498235,-0.915510,-1.698557,-1.340782,-1.624393,0.910527,0.086255,-0.493967,0.566309,...,0,0,0,0,0,1,0,0,0,0
359,144265,0,-0.266886,-0.121508,-0.796335,-0.319270,-0.568377,-1.537163,-1.133110,0.564730,-0.256240,...,0,0,0,0,0,1,1,0,0,0
43,146828,0,-0.064291,0.407826,0.105887,0.136666,1.543655,-0.102310,0.957891,1.005854,-0.365914,...,0,0,0,0,0,1,0,1,0,0
44,181750,0,-0.141784,-0.187675,-0.996829,-0.681095,1.250317,-0.271117,0.343384,-0.493967,-1.462647,...,0,0,0,0,0,1,1,0,0,0
64,172056,1,-0.439319,1.069493,0.506874,0.928173,0.604974,-1.368357,-0.554172,-0.405742,-0.694934,...,0,0,0,0,0,1,0,0,0,0